In [1]:
import model_tools as mt
import pandas as pd
import numpy as np
import requests
import secret
import time
import datetime

In [2]:
def alpha_data(SYMBOLS: list = None, DATASET: str = None, save_path: str = "Data/data.csv"):
    secrets = secret.data["alpha_vantage"]

    if SYMBOLS is None:
        SYMBOLS = pd.read_csv("sp500stocks.csv")["Symbol"].tolist()[:5]

    # Define your API parameters in a dictionary
    if DATASET is None:
        DATASET = secrets["default_dataset"]

    symbol_data = []
    for DATA in DATASET["other"].keys():
        params = {'function': DATA, 'apikey': secrets["api_key"]}
        params.update(DATASET["other"][DATA])
        response = requests.get(secrets["base_url"], params=params)
        data = response.json()
        df = mt.parse_response_data(data)
        symbol_data.append(df)

    econ_df = pd.concat(symbol_data, axis=1, join='outer')

    combined_data = []

    for SYMBOL in sorted(SYMBOLS):
        symbol_data = []

        for DATA in DATASET["symbol_req"].keys():
            start_time = datetime.datetime.now() 
            print(DATA, " for ", SYMBOL)

            # Construct API call with specific parameters
            symbol_params = {'function': DATA, 'symbol': SYMBOL, 'apikey': secrets["api_key"]}
            symbol_params.update(DATASET["symbol_req"][DATA])
            
            # Make request
            response = requests.get(secrets["base_url"], params=symbol_params)
            data = response.json()
            
            # Parse to dataframe
            df = mt.parse_response_data(data)
            # Check if df has any columns that already exist in symbol_data
            # If so, merge the data instead of appending df as a new dataframe
            if symbol_data:
                for col in df.columns:
                    if col in symbol_data[0].columns:
                        # Merge the column data
                        symbol_data[0][col] = symbol_data[0][col].combine_first(df[col])
                    else:
                        # If column is not in symbol_data, add it
                        symbol_data[0][col] = df[col]
            else:
                symbol_data.append(df)

            elapsed_time = (datetime.datetime.now() - start_time).total_seconds() 
            sleep_time = max(0, 60 / secrets["rate_limit"] - elapsed_time) 
            time.sleep(sleep_time)

        # Combine data for this symbol across all datasets
        if symbol_data:
            symbol_data.append(econ_df)
            symbol_combined = pd.concat(symbol_data, axis=1, join='outer')
            # Instead of inserting Ticker one by one, collect them and add later
            combined_data.append(symbol_combined.assign(Ticker=SYMBOL))

    # Combine data across all symbols
    if combined_data:
        final_combined_data = pd.concat(combined_data, axis=0, join='outer')
        final_combined_data['Datetime'] = pd.to_datetime(final_combined_data.index)
        final_combined_data.reset_index(drop=True, inplace=True)

        # Ensure 'Datetime' and 'ticker' are the first two columns
        cols = final_combined_data.columns.tolist()
        cols.insert(0, cols.pop(cols.index('Ticker')))  # Move 'Ticker' to the first column
        cols.insert(1, cols.pop(cols.index('Datetime')))  # Move 'Datetime' to the second column
        final_combined_data = final_combined_data[cols]

        # Save to CSV
        final_combined_data.to_csv(save_path)
        return final_combined_data

data = alpha_data(SYMBOLS=["AAPL", "MSFT", "TSLA", "NVDA", "SNPS", "HPE", "STNE", "CLVT", "CRM", "SAP", "GOOG", "AMD", "INTC", "AVGO", "ORCL", "TSM", "CSCO", "SEDG", "TTD", "PYPL", "BABA",], DATASET=secret.data["alpha_vantage"]["default_dataset"])

data["Datetime"] = pd.to_datetime(data["Datetime"])

# "AAPL", "MSFT", "TSLA", "NVDA", "SNPS", "HPE", "STNE", "CLVT", "CRM", "SAP", "GOOG",
# Selecting only the data with 'Datetime' between 2018-12-31 and 2023-12-31
data = data[pd.Timestamp('2023-12-31') > data['Datetime']]
data = data[pd.Timestamp('2018-12-31') < data['Datetime']]

columns_to_drop = ["date", "value", "fiscalDateEnding",]

settings = mt.load_settings()
# Drop columns only if they exist in the DataFrame
for col in columns_to_drop:
    if col in data.columns:
        data.drop(columns=col, inplace=True)

data.ffill(limit=91, inplace=True)
data.bfill(limit=91, inplace=True)
data = data.T.drop_duplicates().T
data.drop_duplicates(ignore_index=True, inplace=True)
data.replace(["None", None, "", np.nan, pd.NA], [0, 0, 0, 0, 0], inplace=True)

data = mt.optimize_data_types(data)
print(data)
print(data.info(verbose=True))
data.to_csv("Data/data.csv")
data, settings = mt.preprocess(data, settings)
print(data)
print(data.info(verbose=True))

TIME_SERIES_DAILY_ADJUSTED  for  AAPL
INCOME_STATEMENT  for  AAPL
BALANCE_SHEET  for  AAPL
CASH_FLOW  for  AAPL
EARNINGS  for  AAPL
TIME_SERIES_DAILY_ADJUSTED  for  AMD
INCOME_STATEMENT  for  AMD
BALANCE_SHEET  for  AMD
CASH_FLOW  for  AMD
EARNINGS  for  AMD
TIME_SERIES_DAILY_ADJUSTED  for  AVGO
INCOME_STATEMENT  for  AVGO
BALANCE_SHEET  for  AVGO
CASH_FLOW  for  AVGO
EARNINGS  for  AVGO
TIME_SERIES_DAILY_ADJUSTED  for  BABA
INCOME_STATEMENT  for  BABA
BALANCE_SHEET  for  BABA
CASH_FLOW  for  BABA
EARNINGS  for  BABA
TIME_SERIES_DAILY_ADJUSTED  for  CLVT
INCOME_STATEMENT  for  CLVT
BALANCE_SHEET  for  CLVT
CASH_FLOW  for  CLVT
EARNINGS  for  CLVT
TIME_SERIES_DAILY_ADJUSTED  for  CRM
INCOME_STATEMENT  for  CRM
BALANCE_SHEET  for  CRM
CASH_FLOW  for  CRM
EARNINGS  for  CRM
TIME_SERIES_DAILY_ADJUSTED  for  CSCO
INCOME_STATEMENT  for  CSCO
BALANCE_SHEET  for  CSCO
CASH_FLOW  for  CSCO
EARNINGS  for  CSCO
TIME_SERIES_DAILY_ADJUSTED  for  GOOG
INCOME_STATEMENT  for  GOOG
BALANCE_SHEET  for  GOOG
CASH_FLOW  for  GOOG
EARNINGS  for  GOOG
TIME_SERIES_DAILY_ADJUSTED  for  HPE
INCOME_STATEMENT  for  HPE
BALANCE_SHEET  for  HPE
CASH_FLOW  for  HPE
EARNINGS  for  HPE
TIME_SERIES_DAILY_ADJUSTED  for  INTC
INCOME_STATEMENT  for  INTC
BALANCE_SHEET  for  INTC
CASH_FLOW  for  INTC
EARNINGS  for  INTC
TIME_SERIES_DAILY_ADJUSTED  for  MSFT
INCOME_STATEMENT  for  MSFT
BALANCE_SHEET  for  MSFT
CASH_FLOW  for  MSFT
EARNINGS  for  MSFT
TIME_SERIES_DAILY_ADJUSTED  for  NVDA
INCOME_STATEMENT  for  NVDA
BALANCE_SHEET  for  NVDA
CASH_FLOW  for  NVDA
EARNINGS  for  NVDA
TIME_SERIES_DAILY_ADJUSTED  for  ORCL
INCOME_STATEMENT  for  ORCL
BALANCE_SHEET  for  ORCL
CASH_FLOW  for  ORCL
EARNINGS  for  ORCL
TIME_SERIES_DAILY_ADJUSTED  for  PYPL
INCOME_STATEMENT  for  PYPL
BALANCE_SHEET  for  PYPL
CASH_FLOW  for  PYPL
EARNINGS  for  PYPL
TIME_SERIES_DAILY_ADJUSTED  for  SAP
INCOME_STATEMENT  for  SAP
BALANCE_SHEET  for  SAP
CASH_FLOW  for  SAP
EARNINGS  for  SAP
TIME_SERIES_DAILY_ADJUSTED  for  SEDG
INCOME_STATEMENT  for  SEDG
BALANCE_SHEET  for  SEDG
CASH_FLOW  for  SEDG
EARNINGS  for  SEDG
TIME_SERIES_DAILY_ADJUSTED  for  SNPS
INCOME_STATEMENT  for  SNPS
BALANCE_SHEET  for  SNPS
CASH_FLOW  for  SNPS
EARNINGS  for  SNPS
TIME_SERIES_DAILY_ADJUSTED  for  STNE
INCOME_STATEMENT  for  STNE
BALANCE_SHEET  for  STNE
CASH_FLOW  for  STNE
EARNINGS  for  STNE
TIME_SERIES_DAILY_ADJUSTED  for  TSLA
INCOME_STATEMENT  for  TSLA
BALANCE_SHEET  for  TSLA
CASH_FLOW  for  TSLA
EARNINGS  for  TSLA
TIME_SERIES_DAILY_ADJUSTED  for  TSM
INCOME_STATEMENT  for  TSM
BALANCE_SHEET  for  TSM
CASH_FLOW  for  TSM
EARNINGS  for  TSM
TIME_SERIES_DAILY_ADJUSTED  for  TTD
INCOME_STATEMENT  for  TTD
BALANCE_SHEET  for  TTD
CASH_FLOW  for  TTD
EARNINGS  for  TTD
      Ticker   Datetime      open      high      low     close  \
0       AAPL 2019-01-01  154.8750  158.8750  154.250  157.8750
1       AAPL 2019-01-02  154.8750  158.8750  154.250  157.8750
2       AAPL 2019-01-03  144.0000  145.7500  142.000  142.2500
3       AAPL 2019-01-04  144.5000  148.5000  143.750  148.2500
4       AAPL 2019-01-05  144.5000  148.5000  143.750  148.2500
...      ...        ...       ...       ...      ...       ...
38320    TTD 2023-12-26   73.6875   73.8125   72.250   73.5625
38321    TTD 2023-12-27   73.8750   74.5000   73.375   74.0625
38322    TTD 2023-12-28   73.8125   74.3125   73.250   73.3750
38323    TTD 2023-12-29   73.3125   73.5000   71.625   71.9375
38324    TTD 2023-12-30   73.3125   73.5000   71.625   71.9375

       adjusted close    volume  dividend amount  split coefficient  ...  \
0            37.90625  37039737              0.0                  1  ...
1            37.90625  37039737              0.0                  1  ...
2            34.12500  91312195              0.0                  1  ...
3            35.56250  58607070              0.0                  1  ...
4            35.56250  58607070              0.0                  1  ...
...               ...       ...              ...                ...  ...
38320        73.56250   3697173              0.0                  1  ...
38321        74.06250   2504641              0.0                  1  ...
38322        73.37500   2571564              0.0                  1  ...
38323        71.93750   3768626              0.0                  1  ...
38324        71.93750   3768626              0.0                  1  ...

      surprisePercentage  Real Gross Domestic Product  \
0                    0.0                       4968.0
1                    0.0                       4968.0
2                    0.0                       4968.0
3                    0.0                       4968.0
4                    0.0                       4968.0
...                  ...                          ...
38320                0.0                          0.0
38321                0.0                          0.0
38322                0.0                          0.0
38323                0.0                          0.0
38324                0.0                          0.0

       3-Month Treasury Constant Maturity Rate  Effective Federal Funds Rate  \
0                                     2.419922                      2.400391
1                                     2.419922                      2.400391
2                                     2.410156                      2.400391
3                                     2.419922                      2.400391
4                                     2.419922                      2.400391
...                                        ...                           ...
38320                                 5.449219                      5.328125
38321                                 5.441406                      5.328125
38322                                 5.449219                      5.328125
38323                                 5.398438                      5.328125
38324                                 5.398438                      5.328125

       Consumer Price Index for all Urban Consumers  \
0                                            251.75
1                                            251.75
2                                            251.75
3                                            251.75
4                                            251.75
...                                             ...
38320                                        306.75
38321                                        306.75
38322                                        306.75
38323                                        306.75
38324                                        306.75

       Inflation - US Consumer Prices  Advance Retail Sales: Retail Trade  \
0                              1.8125                              398783
1                              1.8125                              398783
2                              1.8125                              398783
3                              1.8125                              398783
4                              1.8125                              398783
...                               ...                                 ...
38320                          0.0000                              675361
38321                          0.0000                              675361
38322                          0.0000                              675361
38323                          0.0000                              675361
38324                          0.0000                              675361

       Manufacturer New Orders: Durable Goods  Unemployment Rate  \
0                                      212040           4.000000
1                                      212040           4.000000
2                                      212040           4.000000
3                                      212040           4.000000
4                                      212040           4.000000
...                                       ...                ...
38320                                  286516           3.699219
38321                                  286516           3.699219
38322                                  286516           3.699219
38323                                  286516           3.699219
38324                                  286516           3.699219

       Total Nonfarm Payroll
0                     147878
1                     147878
2                     147878
3                     147878
4                     147878
...                      ...
38320                 158228
38321                 158228
38322                 158228
38323                 158228
38324                 158228

[38325 rows x 109 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 38325 entries, 0 to 38324
Data columns (total 109 columns):
 #    Column                                                     Dtype
---   ------                                                     -----
 0    Ticker                                                     object
 1    Datetime                                                   datetime64[ns]
 2    open                                                       float16
 3    high                                                       float16
 4    low                                                        float16
 5    close                                                      float16
 6    adjusted close                                             float16
 7    volume                                                     uint32
 8    dividend amount                                            float16
 9    split coefficient                                          uint8
 10   reportedCurrency                                           object
 11   grossProfit                                                int64
 12   totalRevenue                                               uint64
 13   costOfRevenue                                              int64
 14   costofGoodsAndServicesSold                                 uint64
 15   operatingIncome                                            int64
 16   sellingGeneralAndAdministrative                            uint64
 17   researchAndDevelopment                                     uint64
 18   operatingExpenses                                          int64
 19   investmentIncomeNet                                        uint32
 20   netInterestIncome                                          int64
 21   interestIncome                                             int64
 22   interestExpense                                            uint64
 23   nonInterestIncome                                          int64
 24   otherNonOperatingIncome                                    int32
 25   depreciation                                               uint32
 26   depreciationAndAmortization                                uint64
 27   incomeBeforeTax                                            int64
 28   incomeTaxExpense                                           int64
 29   interestAndDebtExpense                                     int32
 30   netIncomeFromContinuingOperations                          int64
 31   comprehensiveIncomeNetOfTax                                int64
 32   ebit                                                       int64
 33   ebitda                                                     int64
 34   netIncome                                                  int64
 35   totalAssets                                                uint64
 36   totalCurrentAssets                                         uint64
 37   cashAndCashEquivalentsAtCarryingValue                      uint64
 38   cashAndShortTermInvestments                                uint64
 39   inventory                                                  int64
 40   currentNetReceivables                                      uint64
 41   totalNonCurrentAssets                                      uint64
 42   propertyPlantEquipment                                     uint64
 43   accumulatedDepreciationAmortizationPPE                     uint64
 44   intangibleAssets                                           uint64
 45   intangibleAssetsExcludingGoodwill                          uint64
 46   goodwill                                                   uint64
 47   investments                                                uint64
 48   longTermInvestments                                        uint64
 49   shortTermInvestments                                       int64
 50   otherCurrentAssets                                         uint64
 51   otherNonCurrentAssets                                      uint64
 52   totalLiabilities                                           uint64
 53   totalCurrentLiabilities                                    uint64
 54   currentAccountsPayable                                     uint64
 55   deferredRevenue                                            uint64
 56   currentDebt                                                uint64
 57   shortTermDebt                                              uint64
 58   totalNonCurrentLiabilities                                 uint64
 59   capitalLeaseObligations                                    uint64
 60   longTermDebt                                               uint64
 61   currentLongTermDebt                                        float32
 62   longTermDebtNoncurrent                                     uint64
 63   shortLongTermDebtTotal                                     int64
 64   otherCurrentLiabilities                                    uint64
 65   otherNonCurrentLiabilities                                 uint64
 66   totalShareholderEquity                                     int64
 67   treasuryStock                                              int64
 68   retainedEarnings                                           int64
 69   commonStock                                                uint64
 70   commonStockSharesOutstanding                               uint64
 71   operatingCashflow                                          int64
 72   paymentsForOperatingActivities                             int64
 73   proceedsFromOperatingActivities                            uint8
 74   changeInOperatingLiabilities                               int64
 75   changeInOperatingAssets                                    int64
 76   depreciationDepletionAndAmortization                       float32
 77   capitalExpenditures                                        int64
 78   changeInReceivables                                        int64
 79   changeInInventory                                          float32
 80   profitLoss                                                 int64
 81   cashflowFromInvestment                                     int64
 82   cashflowFromFinancing                                      int64
 83   proceedsFromRepaymentsOfShortTermDebt                      int64
 84   paymentsForRepurchaseOfCommonStock                         uint64
 85   paymentsForRepurchaseOfEquity                              int64
 86   dividendPayout                                             uint64
 87   dividendPayoutCommonStock                                  uint64
 88   proceedsFromIssuanceOfCommonStock                          int64
 89   proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet  int64
 90   proceedsFromIssuanceOfPreferredStock                       int32
 91   proceedsFromRepurchaseOfEquity                             int64
 92   proceedsFromSaleOfTreasuryStock                            uint32
 93   changeInCashAndCashEquivalents                             int64
 94   changeInExchangeRate                                       int32
 95   reportedDate                                               object
 96   reportedEPS                                                float16
 97   estimatedEPS                                               float16
 98   surprise                                                   float16
 99   surprisePercentage                                         float16
 100  Real Gross Domestic Product                                float16
 101  3-Month Treasury Constant Maturity Rate                    float16
 102  Effective Federal Funds Rate                               float16
 103  Consumer Price Index for all Urban Consumers               float16
 104  Inflation - US Consumer Prices                             float16
 105  Advance Retail Sales: Retail Trade                         uint32
 106  Manufacturer New Orders: Durable Goods                     uint32
 107  Unemployment Rate                                          float16
 108  Total Nonfarm Payroll                                      uint32
dtypes: datetime64[ns](1), float16(16), float32(3), int32(4), int64(35), object(3), uint32(7), uint64(38), uint8(2)
memory usage: 26.0+ MB
None

c:\Users\roman\Desktop\Bot\model_tools.py:447: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data[col] = pd.to_datetime(data[col], errors='coerce')

Dropped 96 columns due to low feature correlation with target
New data shape: (38325, 13)
       Ticker  Datetime      open      high       low     close  \
0           0         1 -0.200806 -0.196533 -0.195679 -0.192871
1           0         2 -0.200806 -0.196533 -0.195679 -0.192871
2           0         3 -0.230103 -0.231567 -0.229126 -0.234985
3           0         4 -0.228760 -0.224243 -0.224365 -0.218750
4           0         5 -0.228760 -0.224243 -0.224365 -0.218750
...       ...       ...       ...       ...       ...       ...
38320      20      1821 -0.419434 -0.422852 -0.419434 -0.419678
38321      20      1822 -0.418945 -0.421143 -0.416260 -0.418457
38322      20      1823 -0.419189 -0.421387 -0.416748 -0.420410
38323      20      1824 -0.420654 -0.423828 -0.421143 -0.424072
38324      20      1825 -0.420654 -0.423828 -0.421143 -0.424072

       adjusted close  comprehensiveIncomeNetOfTax  currentNetReceivables  \
0           -0.748535                    -0.416532              -0.475745
1           -0.748535                    -0.416532              -0.475745
2           -0.778809                    -0.416532              -0.475745
3           -0.767578                    -0.416532              -0.475745
4           -0.767578                    -0.416532              -0.475745
...               ...                          ...                    ...
38320       -0.465820                    -0.416532              -0.475745
38321       -0.461914                    -0.416532              -0.475745
38322       -0.467285                    -0.416532              -0.475745
38323       -0.478760                    -0.416532              -0.475745
38324       -0.478760                    -0.416532              -0.475745

       proceedsFromOperatingActivities  profitLoss  \
0                                  0.0   -0.420601
1                                  0.0   -0.420601
2                                  0.0   -0.420601
3                                  0.0   -0.420601
4                                  0.0   -0.420601
...                                ...         ...
38320                              0.0   -0.420601
38321                              0.0   -0.420601
38322                              0.0   -0.420601
38323                              0.0   -0.420601
38324                              0.0   -0.420601

       paymentsForRepurchaseOfCommonStock  paymentsForRepurchaseOfEquity
0                                 -0.3866                      -0.382787
1                                 -0.3866                      -0.382787
2                                 -0.3866                      -0.382787
3                                 -0.3866                      -0.382787
4                                 -0.3866                      -0.382787
...                                   ...                            ...
38320                             -0.3866                      -0.382787
38321                             -0.3866                      -0.382787
38322                             -0.3866                      -0.382787
38323                             -0.3866                      -0.382787
38324                             -0.3866                      -0.382787

[38325 rows x 13 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38325 entries, 0 to 38324
Data columns (total 13 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Ticker                              38325 non-null  uint8
 1   Datetime                            38325 non-null  int32
 2   open                                38325 non-null  float16
 3   high                                38325 non-null  float16
 4   low                                 38325 non-null  float16
 5   close                               38325 non-null  float16
 6   adjusted close                      38325 non-null  float16
 7   comprehensiveIncomeNetOfTax         38325 non-null  float64
 8   currentNetReceivables               38325 non-null  float64
 9   proceedsFromOperatingActivities     38325 non-null  float64
 10  profitLoss                          38325 non-null  float64
 11  paymentsForRepurchaseOfCommonStock  38325 non-null  float64
 12  paymentsForRepurchaseOfEquity       38325 non-null  float64
dtypes: float16(5), float64(6), int32(1), uint8(1)
memory usage: 2.3 MB
None

In [3]:
df = pd.DataFrame([[2, None, None, 0],
                   [None, 4, None, 1],
                   [3, None, None, None],
                   [None, 3, None, 4]],
                  columns=list("ABCD"))

print(df)
df.ffill(inplace=True)
print(df)
# Example usage
base_path = 'Data'  # Replace with your base directory path
combined_dataset = mt.create_combined_timeseries_dataset(base_path)
print(combined_dataset)
combined_dataset.to_csv("new_data.csv")

     A    B     C    D
0  2.0  NaN  None  0.0
1  NaN  4.0  None  1.0
2  3.0  NaN  None  NaN
3  NaN  3.0  None  4.0
     A    B     C    D
0  2.0  NaN  None  0.0
1  2.0  4.0  None  1.0
2  3.0  4.0  None  1.0
3  3.0  3.0  None  4.0

ValueError: No objects to concatenate